<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name = "gripper">

    <xacro:macro name="default_inertial" params="mass">
        <inertial>
            <mass value="${mass}" />
            <inertia ixx="1e-6" ixy="0.0" ixz="0.0"
                    iyy="1e-6" iyz="0.0"
                    izz="1e-6" />
            </inertial>
	</xacro:macro>

    <link name = "gripper">
        <visual>
            <geometry>
                <box size = "0.1 0.038 0.362"/>
            </geometry>
            <material name = "gray">
                <color rgba = "0.8 0.8 0.8 1"/>
            </material>
        </visual>
        <collision>
            <geometry>
                <box size = "0.1 0.038 0.362"/>
            </geometry>
        </collision>
		<xacro:default_inertial mass="3"/>
    </link>

</robot>
